.login {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 5px #333333;
	left: 35%;
	top: 35%;
	width: 30%;
	-webkit-transition: margin-top 0.3s ease 0s;
	-moz-transition: margin-top 0.3s ease 0s;
	-o-transition: margin-top 0.3s ease 0s;
	transition: margin-top 0.3s ease 0s;
}

.login input.c[type="text"], .login input.c[type="password"] {
	background-color: rgba(37, 136, 153, 0.46);
	border: 1px solid #68B4B8;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-family: Tahoma;
	font-size: 1em;
	left: 5%;
	margin: 5% 0 0;
	padding: 2%;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 86%;
}
.login input.c[type="text"]:focus, .login input.c[type="password"]:focus {
	background-color: rgba(26, 202, 232, 0.46);
	border: 1px solid #00FFFF;
	box-shadow: 0 0 5px #00E1FF;
}

.login input.c[type="submit"] {
	display: inline-block;
	left: 65%;
	margin: 5% 0;
	padding: 2%;
	position: relative;
	width: 30%;
}

.login input.c.invisible, .login input.c.invisible:focus {
	border-width: 0;
	height: 0;
	margin: 0;
	padding: 0 2%;
	box-shadow: none;
}

.login label.c {
	color: #FFFFFF;
	margin-left: 5%;
	margin-top: 5%;
	padding: 2% 0;
	position: absolute;
}

.login input.c[type="checkbox"] {
	margin-right: 10px;
}


.login .captcha_placeholder {
	display: block;
	left: 5%;
	margin-top: 5%;
	position: relative;
	text-align: center;
	width: 90%;
}


#recaptcha_area, #recaptcha_table {
	display: inline;
}
