<IfModule mod_rewrite.c>  
	Options +FollowSymLinks
	Options -Indexes

	RewriteEngine On
	
	RewriteBase /
	
	
	
	#####################################
	# Force without WWW and https
	#####################################

	# convertir ***.com en www.***.com
	RewriteCond %{HTTP_HOST} ^www [NC]
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
	
	
	
	#####################################
	# Force https
	#####################################
	
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	
	
	#####################################
	# Dropbox Files shortcut
	#####################################
	
	RewriteRule ^externalfile/(.*)$ external.php?file=/$1 [NC,L]

</IfModule>