.bookmarks {
	color: #EEE;
	margin: -10px 0 0 -20px;
	padding: 10px 20px;
	font-size: 0.8em;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 0 0 10px 0px #000;
	font-family: Tahoma, Verdana;
	border-radius: 5px;
	
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.bookmarks:hover {
	color: #FFF;
}

.bookmarks a {
	color: #EEE;
	cursor: pointer;
	display: block;
	padding: 5px 0 5px 30px;
	word-break: break-all;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	line-height: 1.2em;
	margin-bottom: 5px;
	border-radius: 15px;
	text-decoration: none;
	background-size: 19px 19px;
	background-color: rgba(255, 255, 255, 0.15);
	background-repeat: no-repeat;
	background-position: 6px 3px;
}

.bookmarks a.addItem {
	display: none;
}

.bookmarks a:hover {
	color: #000;
	-webkit-transition: box-shadow 0.2s ease;
	-moz-transition: box-shadow 0.2s ease;
	-o-transition: box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease;
	background-color: #EEE !important;
}


/*FOLDERS*/
.bookmarks .folder {
	overflow: hidden;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	padding-left: 15px;
}

.bookmarks .foldername {
	cursor: pointer;
	padding: 5px 0 5px 20px;
	line-height: 1.2em;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #776705;
}

.bookmarks .foldername:hover {
	background-color: #AB9718;
}



/*ADD/MANAGE BOOKMARKS*/

.bookmarks .button {
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1;
	position: absolute;
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
}

.bookmarks .button_add {
	color: rgba(255, 255, 255, 0.7);
	right: 10px;
	bottom: 10px;
}
.bookmarks .button_add:hover {
	color: #fff;
}

.bookmarks .button_confirm {
	right: 40px;
	color: rgba(27, 255, 77, 0.7);
	bottom: 10px;
	display: none;
}
.bookmarks .button_confirm:hover {
	color: #1BFF4D;
}

.bookmarks .button_cancel {
	right: 10px;
	color: rgba(255, 0, 0, 0.7);
	bottom: 10px;
	display: none;
}
.bookmarks .button_cancel:hover {
	color: #f00;
}

.bookmarks .delete {
	display: none;
}
.bookmarks .edit {
	display: none;
}

.bookmarks .manager {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.4);
}

.bookmarks .manager .container {
	top: 30%;
	left: 30%;
	width: 40%;
	position: absolute;
	box-shadow: 0 0 20px #000;
	border-radius: 15px;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.75);
}

.bookmarks .manager .container > .txt {
	display: block;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.bookmarks .manager .type_selector {
	left: 25%;
	width: 50%;
	border: 1px outset #F00;
	padding: 2px;
	position: relative;
	margin-top: 20px;
	box-shadow: 0 0 5px #000 inset;
	font-family: Helvetica;
	border-radius: 10px;
	background-color: #1C1C1C;
}

.bookmarks .manager .type_selector > div {
	width: 50%;
	margin: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	text-align: center;
	line-height: 2em;
	border-radius: 6px;
}

.bookmarks .manager .type_selector > div.selected {
	background: #f00;
	background: -moz-linear-gradient(top,  #f00 0%, #4e0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f00), color-stop(100%,#4e0000));
	background: -webkit-linear-gradient(top,  #f00 0%,#4e0000 100%);
	background: -o-linear-gradient(top,  #f00 0%,#4e0000 100%);
	background: -ms-linear-gradient(top,  #f00 0%,#4e0000 100%);
	background: linear-gradient(to bottom,  #f00 0%,#4e0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f00', endColorstr='#4e0000',GradientType=0 );
}

.form {
	margin-top: 20px;
}

.bookmarks .manager .form input {
	width: 80%;
	color: #FFF;
	border: 1px outset #F00;
	padding: 5px;
	margin-left: 10%;
	margin-bottom: 2%;
	border-radius: 5px;
	background-color: #1C1C1C;
}
.bookmarks .manager .form input:focus {
	box-shadow: 0 0 11px #1C0000;
	background-color: #1C0000;
}

.bookmarks .manager .buttons {
	margin-top: 5%;
	text-align: center;
}

.bookmarks .manager .buttons > input {
	width: 25%;
	color: #FFF;
	height: 2em;
	margin: 0 5%;
	cursor: pointer;
	border: 1px outset #F00;
	background: #1C1C1C;
	border-radius: 5px;
}

.bookmarks .manager .buttons > input:hover {
	background: #7B0909;
	background: -moz-linear-gradient(top,  #594444 0%, #451111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#594444), color-stop(100%,#451111));
	background: -webkit-linear-gradient(top,  #594444 0%,#451111 100%);
	background: -o-linear-gradient(top,  #594444 0%,#451111 100%);
	background: -ms-linear-gradient(top,  #594444 0%,#451111 100%);
	background: linear-gradient(to bottom,  #594444 0%,#451111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#594444', endColorstr='#451111',GradientType=0 );
}

.bookmarks .manager .buttons > input:active {C13B02 C13B02
	background: #7B0909;
	background: -moz-linear-gradient(top,  #621D00 0%, #C13B02 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#621D00), color-stop(100%,#C13B02));
	background: -webkit-linear-gradient(top,  #621D00 0%,#C13B02 100%);
	background: -o-linear-gradient(top,  #621D00 0%,#C13B02 100%);
	background: -ms-linear-gradient(top,  #621D00 0%,#C13B02 100%);
	background: linear-gradient(to bottom,  #621D00 0%,#C13B02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#621D00', endColorstr='#C13B02',GradientType=0 );
}



/* MOVE ITEMS */

.bookmarks.editing .button_add {
	display: none;
}

.bookmarks.editing .button_confirm {
	display: block;
}

.bookmarks.editing .button_cancel {
	display: block;
}

.bookmarks.editing .foldername {
	border: 1px dashed #FFF;
	cursor: move;
}

.bookmarks.editing a {
	border: 1px dashed #FFF;
	cursor: move;
	padding-right: 40px;
}

.bookmarks.editing a.addItem {
	border: 0 none;
	cursor: pointer;
	display: block;
	border-radius: 7px;
	background-color: #979940;
}

.bookmarks.editing .edit {
	color: #FF0;
	float: right;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	margin-top: -1.5em;
	text-shadow: 0 0 2px #000;
	margin-right: 25px;
}
.bookmarks.editing .delete {
	color: #FF0;
	float: right;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	margin-top: -1.5em;
	text-shadow: 0 0 2px #000;
	margin-right: 6px;
}
.bookmarks.editing .delete:hover, .bookmarks.editing .edit:hover {
	color: #F00;
}
