.bookmarks {
	color: #EEE;
	width: calc(100% - 40px);
	height: calc(100% - 20px);
	padding: 10px 20px;
	overflow: auto;
	overflow: overlay;
	box-shadow: 0 0 10px 0px #000;
	border-radius: 5px;
}

.bookmarks {
    color: #EEE;
    width: calc(100% - 40px);
    margin: -10px 0 0 -20px;
    height: calc(100% - 20px);
    padding: 10px 20px;
    overflow: auto;
    box-shadow: 0 0 10px 0 #000;
    border-radius: 5px;
}

.bookmarks:hover {
	color: #FFF;
}

.bookmarks a {
	color: #EEE;
	height: 25px;
	z-index: 1;
	display: block;
	padding: 0 5px 0 30px;
	overflow: hidden;
	position: relative;
	font-size: 12px;
	word-break: break-all;
	transition: all 0.5s ease 0s;
	line-height: 25px;
	margin-bottom: 5px;
	border-radius: 15px;
	text-decoration: none;
	background-size: 19px 19px;
	background-repeat: no-repeat;
	background-position: 6px 3px;
}

.bookmarks a:hover {
	color: #000;
	transition: box-shadow 0.2s ease 0s;
	background-color: #EEE !important;
}


/*FOLDERS*/
.bookmarks .folder {
    overflow: hidden;
    transition: all .5s ease 0s;
	padding-left: 15px;
}

.bookmarks .foldername {
	height: 15px;
	cursor: pointer;
	padding: 5px 0 5px 20px;
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #776705;
}

.bookmarks .foldername:hover {
	background-color: #AB9718;
}
