.bookmarks {
	width: 	calc(100% - 40px);
	height: calc(100% - 20px);
	/*background-color: {GET VAR COLOR_FONDO};*/
	position: absolute;
	padding: 10px 20px;
	overflow: overlay;
	transition: .5s all;
	box-shadow: 0 0 10px 0px #000;
	overflow: auto;
	border-radius: 5px;
}
.bookmarks:hover {
	color: #FFF;
	/*box-shadow: 0 0 20px 5px {GET VAR COLOR_FONDO};*/
}
.bookmarks a {
	background-position: 6px 3px;
	background-repeat: no-repeat;
	background-size: 19px 19px;
	border-radius: 15px;
	color: #EEE;
	display: block;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0 5px 0 30px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	position: relative;
    text-shadow: 2px 1px 3px #000;
	z-index: 1;
	word-break: break-all;
}
.bookmarks a:hover {
	color: #000;
	background-color: #EEE;
	box-shadow: 0 0 30px 0px #FFF;
	transition: .2s box-shadow;
	text-shadow: 0 0 0 #000;
}


/*TAGS*/
.bookmarks .tags_display {
	display: inline-table;
	height: 100%;
	margin-right: -5px;
	position: absolute;
	right: 5px;
	top: 0;
	width: 20px;
	z-index: -1;
}
.bookmarks a:hover > .tags_display {
	display: none;
}
.bookmarks .tags_display > div {
	display: table-cell;
	width: 1px;
	height: 1px;
}




{TAGS_LINKS}
	.bookmarks .tag_nombre_{TAG_NOMBRE} {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, {TAG_COLOR} 70%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(70%,{TAG_COLOR}));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,{TAG_COLOR} 70%);
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,{TAG_COLOR} 70%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,{TAG_COLOR} 70%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,{TAG_COLOR} 70%);
	}
{/TAGS_LINKS}
