.background_widget_bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.background_widget_bg.bg1 {
	position: absolute;
	z-index: -99999;
}

.background_widget_bg.bg2 {
	-webkit-transition: opacity 3s ease;
	-moz-transition: opacity 3s ease;
	-o-transition: opacity 3s ease;
	transition: opacity 3s ease;
	z-index: -99998;
}

.background_widget_preview_pic {
	float: right;
	height: 10em;
	max-width: 25em;
	box-shadow: 0 0 0.5em #151515;
}