.widgets {
	background: url("../img/bg/homepage-blur.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
	font-family: Verdana;
	font-size: 0.9em;
}


.left {
	left: 0;
	top: 0;
}

.right {
	left: 50.5%;
	overflow: hidden !important;
	top: 0;
}

.panel {
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 2px 1px #000000;
	height: 100%;
	overflow-y: auto;
	position: absolute;
	width: 49.5%;
	color: #fff;
}





.create, .manage {
	margin: 1% 2%;
}
.create {
	margin-bottom: 20px;
}


.create > .name {
	border: 0 none;
	border-bottom: 1px solid #4df0ff;
	border-top: 1px solid transparent;
	background: none repeat scroll 0 0 transparent;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 0 2%;
	width: 70%;
}

.create > .button {
	background-color: #000;
	border: 1px solid #4df0ff;
	color: #fff;
	height: 30px;
	margin: 0;
	padding: 0;
	width: 26%;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.create > .button:hover {
	background-color: #55c2cc;
}

.widget_list {
	margin-top: 10px;
	margin-bottom: 10px;
}


.developers_menu {
	height: 8%;
	margin: 1% 2%;
}
.links {
	list-style: inside none square;
	margin: 1% 2%;
}
.links a {
	cursor: pointer;
	color: #dadada;
	text-decoration: none;
}
.links a:hover {
	color: #efffff;
}
.developers_space {
	height: 90%;
	width: 100%;
}
.developers_space:empty {
	height: 0%;
}
.doc_iframe {
	height: 100%;
	width: 100%;
}






.widget_list .widget_element .settings {
	background-color: rgba(31, 245, 157, 0.6);
	font-size: 15px;
	height: 100%;
	padding: 17px 15px 0;
	position: absolute;
	right: 0;
	text-align: center;
	transition: all 0.5s ease 0s;
	width: 15px;
	line-height: 17px;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.widget_list .widget_element .settings:hover {
	background-color: #1eea95;
}













.widgets_space td:nth-child(1) {
	text-align: right;
	width: 30%;
}
.widgets_space td {
	vertical-align: top;
	padding: 1%;
}
.widgets_space td input {
	width: 75%;
}
.widgets_space table {
	width: 100%;
}
.widgets_space textarea {
	height: 10em;
	width: 75%;
}
.widgets_space img {
	width: 128px;
}







