.widgets {
	background: url("../img/bg/homepage.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
}

.title {
	height: 1.5em;
	font-size: 2em;
	text-align: center;
	font-weight: normal;
}

.panel {
	width: 48.5%;
	bottom: 0;
	height: 95%;
	margin: 1%;
	padding: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
}
.panel.available {
	left: 0;
}
.panel.in_use {
	right: 0;
}


.search_bar {
	width: 100%;
	height: 2em;
	position: relative;
}
.search_bar_input {
	width: 90%;
	margin: 0;
	height: 100%;
	border: 0 none;
	padding: 0;
	box-shadow: 0 -2px 0 #2fb0ff inset;
}
.search_bar_button {
	width: 10%;
	height: 100%;
	border: 0 none;
	cursor: pointer;
	text-align: center;
}


.list {
	width: 100%;
	bottom: 0;
	height: calc(100% - 2em);
	position: absolute;
	overflow-y: auto;
}


.widget_element:nth-of-type(2n) {
	background-color: rgba(255, 255, 255, 0.4);
}
.widget_element {
	height: 100px;
}
.body:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

.body {
	height: 100%;
	position: relative;
	width: 70%;
}
.image {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #fff;
	display: inline-block;
	height: 80px;
	margin: 5px;
	padding: 4px;
	position: relative;
	width: 80px;
}
.txt {
	left: 100px;
	position: absolute;
	top: 0;	
	font-size: 15px;
	height: 15px;
}
.name {
	font-weight: bold;
	padding-top: 5px;
}
.description {
	padding-top: 25px;
	height: 45px;
}
.autor {
	padding-top: 80px;
}
.body:hover .use {
	color: #fff;
	display: table;
	position: absolute;
	font-size: 2em;
	text-align: center;
}
.body .use {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.use span {
	display: table-cell;
	vertical-align: middle;
}



