#widgets {
	width: 100%;
	height: calc(100% - 1.4em);
	overflow: hidden;
	position: absolute;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.bottom_bar {
	width: 100%;
	color: #fff;
	bottom: 0;
	height: 1em;
	padding: 0.2em 0;
	display: block;
	position: absolute;
	font-size: 1em;
	background-color: #000;
}