.widget_element {
	background-color: #001623;
	border-bottom: 1px solid #164e6c;
	position: relative;
	overflow: hidden;
	color: #fafafa;
}
.widget_element:hover, .widget_element.full {
	background-color: #00253c;
}

.widget_element, .widget_element .image > .image_bg {
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}


.widget_element .image > .image_bg, .widget_element .image > .image_front {
	background-color: #000;
	position: absolute;
	height: 120px;
	width: 120px;
}
.widget_element .image {
	position: absolute;
	display: inline-block;
	height: 120px;
	width: 120px;
	left: 10px;
	top: 10px;
}

.widget_element .image > .image_bg {
	background-color: #7dcbfb;
	left: 0;
	top: 0;
}
.widget_element:hover .image > .image_bg,
.widget_element.full .image > .image_bg {
	height: 140px;
	width: 140px;
	left: -10px;
	top: -10px;
}


.widget_element .name {
	font-weight: bold;
	line-height: 25px;
	font-size: 14px;
	position: absolute;
	height: 25px;
	left: 170px;
	top: 0;
}


.widget_element .description {
	position: absolute;
	left: 170px;
	top: 25px;
}



.widget_element .minimized {
	cursor: pointer;
	height: 140px;
}
.widget_element .maximized {
	display: none;
}
.widget_element.full .maximized {
	background-color: #001725;
	margin-top: 10px;
	display: inherit;
	padding: 10px;
}

