.widget_element {
	background-color: #001623;
	border-bottom: 1px solid #164e6c;
	position: relative;
	overflow: hidden;
	color: #fafafa;
}
.widget_element:hover, .widget_element.full {
	background-color: #00253c;
}

.widget_element, .widget_element .image > .image_bg {
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}


.widget_element .image > .image_bg, .widget_element .image > .image_front {
	background-color: #000;
	position: absolute;
	height: 120px;
	width: 120px;
}
.widget_element .image {
	position: absolute;
	display: inline-block;
	height: 120px;
	width: 120px;
	left: 10px;
	top: 10px;
}

.widget_element .image > .image_bg {
	background-color: #7dcbfb;
	left: 0;
	top: 0;
}
.widget_element:hover .image > .image_bg,
.widget_element.full .image > .image_bg {
	height: 140px;
	width: 140px;
	left: -10px;
	top: -10px;
}


.widget_element .name {
	font-weight: bold;
	line-height: 25px;
	font-size: 14px;
	position: absolute;
	height: 25px;
	left: 170px;
	top: 0;
}


.widget_element .description {
	position: absolute;
	left: 170px;
	top: 25px;
}



.widget_element .minimized {
	cursor: pointer;
	height: 140px;
}
.widget_element .maximized {
	display: none;
}
.widget_element.full .maximized {
	background-color: #000B12;
	margin-top: 10px;
	display: inherit;
	display: table;
	padding: 1.5%;
	width: 97%;
}

.widget_element.full .maximized .text {
	vertical-align: top;
	display: table-cell;
	width: 30%;
}


.widget_element.full .maximized .images {
	vertical-align: top;
	text-align: right;
	position: relative;
	display: table-cell;
	width: 70%;
}

.widget_element.full .maximized .images .capture {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
	height: 8em;
	margin: 5px;
	width: 14em;
}

.widget_element.full .maximized .images .big_preview {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 100;
	cursor: pointer;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.widget_element.full .maximized .images .big_preview_image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
}

