#list {
	width: 40%;
	height: 100%;
	overflow: auto;
	position: absolute;
}
#content {
	right: 0;
	width: 60%;
	height: 100%;
	overflow: auto;
	position: absolute;
}


#list input {
	display: inline;
}
#list .container {
	border-top: 2px solid #000;
	margin-left: 10px;
	background-color: rgba(0, 0, 0, 0.15);
}
#list .elem {
	color: #000;
}
#list .elem span {
	float: right;
	cursor: pointer;
	margin: 0 1px;
	padding: 0 2px;
}
#list .elem .up {
	color: #0F0;
	background-color: #000;
}
#list .elem .down {
	color: #FF0;
	background-color: #000;
}
#list .elem .delete {
	color: #F00;
	background-color: #000;
}
#list .attribute {
	color: #FFF;
	cursor: pointer;
	border: 1px solid #FF0;
	display: inline;
	padding: 0 10px;
	line-height: 25px;
	background-color: #9D5300;
}
.foldable {
	overflow: hidden;
}
.foldable.folded {
	height: 0;
	border-top: 5px solid #f00;
}

#txt {
	width: 90%;
	height: 25%;
}